@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.7;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.no-pc, .no-sp {
  display: none;
}

.container {
  width: auto;
  margin: 0 auto;
  padding: 0 7.8125vw;
}

.container2 {
  width: auto;
  margin: 0 auto;
  padding: 0 15.625vw;
}

body {
  font-family: "Sawarabi Mincho";
}

.logo {
  background: url(../../image/logo_yotuba.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

.top-common {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 200px 0;
}

.slide-menu {
  transform: translateX(100vw);
  transition: all .3s linear;
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 5;
}

.slide-menu ul {
  padding: 50px 50px;
}

.slide-menu li {
  margin-bottom: 30px;
}

.slide-menu li a {
  font-size: 20px;
  color: #000;
}

/*=============================
.btn-trigger
=============================*/
.btn-trigger {
  position: relative;
  width: 32px;
  height: 26px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 10;
}

.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
}

.btn-trigger, .btn-trigger span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

.btn-trigger span:nth-of-type(1) {
  top: 0;
}

.btn-trigger span:nth-of-type(2) {
  top: 12px;
}

.btn-trigger span:nth-of-type(3) {
  bottom: 0;
}

/*=============================
#btn01
=============================*/
#btn.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}

#btn.active span:nth-of-type(2) {
  opacity: 0;
}

#btn.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}

/* アニメーション後のメニューの状態 */
.slide-menu.is-active {
  transform: translateX(0);
  display: block;
}

.slider {
  margin: 50px auto;
  width: 60%;
}

.slider img {
  height: auto;
  width: 100%;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #000;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slide-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

.prev-arrow {
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.next-arrow {
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 959px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header h1 {
  font-size: 24px;
}

.header h1 span {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 14px;
  position: relative;
  left: 7px;
  bottom: 5px;
}

@media (max-width: 959px) {
  .header-menu {
    display: none;
  }
}

.header-menu ul {
  display: flex;
  justify-content: space-between;
}

.header-menu ul li {
  margin-right: 40px;
  text-align: center;
}

.header-menu ul li:last-child {
  margin: 0;
}

.header-menu ul li span {
  font-size: 12px;
  display: block;
}

.header-menu ul li a {
  color: #000;
}

.header-menu ul li a:hover {
  color: orange;
}

.top-target {
  background: url(../../image/top_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: cover;
  padding: 150px 0 100px;
}

@media (max-width: 559px) {
  .top-target {
    padding: 100px 0;
  }
}

.top-target-text {
  text-align: center;
  padding: 20px;
  position: relative;
  width: 500px;
  margin-right: 0;
  margin-left: auto;
  color: #fff;
}

@media (max-width: 559px) {
  .top-target-text {
    width: auto;
    margin: 0 auto;
  }
}

.top-target-text div {
  background: url(../../image/logo_yotuba.png);
  filter: hue-rotate(180deg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

.top-target-text p {
  font-family: "Sawarabi Mincho";
}

.top-target-text p:nth-of-type(1) {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 559px) {
  .top-target-text p:nth-of-type(1) {
    font-size: 20px;
  }
}

.top-target-text p:nth-of-type(2) {
  margin-bottom: 15px;
  font-size: 40px;
}

@media (max-width: 559px) {
  .top-target-text p:nth-of-type(2) {
    font-size: 18px;
  }
}

.top-target-text p:nth-of-type(3) {
  font-size: 20px;
  margin-bottom: 40px;
}

@media (max-width: 559px) {
  .top-target-text p:nth-of-type(3) {
    font-size: 18px;
  }
}

.top-message {
  padding-top: 80px;
  padding-bottom: 80px;
}

.top-message-wrap div {
  background-image: url(../../image/logo_yotuba.png);
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  margin-bottom: 20px;
}

.top-message-wrap p:nth-of-type(1) {
  font-family: 'Monsieur La Doulaise', cursive;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.top-message-wrap p:nth-of-type(2) {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.contents-menu {
  background-image: url(../../image/menu_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contents-menu-wrap {
  border: 5px solid rgba(255, 255, 255, 0.7);
  padding: 5px;
}

.contents-menu-wrap-in {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.contents-menu-wrap-in h2 {
  padding-top: 50px;
}

.contents-menu-wrap-in h2 span {
  font-size: 12px;
}

.contents-menu-wrap-in p {
  padding-top: 15px;
}

.contents-menu-wrap-in a {
  display: inline-block;
  margin: 30px 0;
  padding: 5px 70px;
  border: 1px solid #000;
  color: #000;
}

.contents-menu-wrap-in a span {
  display: inline-block;
  position: relative;
  left: 60px;
}

.contents-row {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 559px) {
  .contents-row {
    flex-direction: column;
  }
}

.contents-voice {
  background: url(../../image/voice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 559px) {
  .contents-voice {
    margin-bottom: 50px;
  }
}

.contents-qa {
  background: url(../../image/qa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: cover;
}

.contents-voice, .contents-qa {
  width: 45%;
  text-align: center;
}

@media (max-width: 559px) {
  .contents-voice, .contents-qa {
    width: auto;
  }
}

.contents-voice-text, .contents-qa-text {
  margin: 15px;
  background: rgba(255, 255, 255, 0.7);
  padding: 50px 0;
}

.contents-voice-text a, .contents-qa-text a {
  color: #000;
}

.contents-voice-text span, .contents-qa-text span {
  font-size: 12px;
}

.contents-salon-text {
  text-align: center;
}

.contents-salon-text span {
  font-size: 12px;
}

.contents-staff {
  margin: 100px 0;
}

.contents-staff-text {
  text-align: center;
  margin-bottom: 80px;
}

.contents-staff-text span {
  font-size: 12px;
}

.contents-staff-intro {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 959px) {
  .contents-staff-intro {
    flex-direction: column;
  }
}

.contents-staff-intro-left {
  width: 45%;
}

@media (max-width: 959px) {
  .contents-staff-intro-left {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.contents-staff-intro-left img {
  width: 300px;
  border-radius: 50%;
  border: 1px solid #eef;
}

.contents-staff-intro-right {
  width: 45%;
}

@media (max-width: 959px) {
  .contents-staff-intro-right {
    width: 100%;
  }
}

.contents-staff-intro-right h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

@media (max-width: 959px) {
  .contents-staff-intro-right h3 {
    text-align: center;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 959px) {
  .contact {
    flex-direction: column;
  }
}

.contact-left {
  width: 50%;
}

@media (max-width: 959px) {
  .contact-left {
    margin-bottom: 50px;
    width: 100%;
  }
}

.contact-left-access {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.contact-left-access-text {
  width: 30%;
  text-align: center;
}

.contact-left-access-text span {
  font-size: 12px;
}

.contact-left-access-detail {
  width: 60%;
  margin-top: 30px;
}

.contact-left-access-detail p:nth-of-type(1) {
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.contact-left-open {
  display: flex;
  justify-content: space-between;
}

.contact-left-open-text {
  width: 30%;
  text-align: center;
}

.contact-left-open-text span {
  font-size: 12px;
}

.contact-left-open-detail {
  width: 60%;
  margin-top: 30px;
}

.contact-left-open-detail p:nth-of-type(3) {
  border-top: 2px solid #000;
  margin-top: 10px;
  padding-top: 10px;
}

.contact-left-open-detail div:last-child {
  display: inline-block;
  border: 1px solid #000;
  margin-top: 20px;
  padding: 10px;
}

.contact-right {
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 559px) {
  .contact-right {
    margin-left: 0;
  }
}

.contact-right-wrap {
  background-color: #fff;
  z-index: 1;
  width: auto;
  padding: 30px 70px;
}

@media (max-width: 559px) {
  .contact-right-wrap {
    padding: 10px 5px;
  }
}

.contact-right-wrap span {
  font-size: 12px;
}

.contact-right-wrap p {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-form {
  position: relative;
}

.contact-form a {
  border: 1px solid #000;
  display: block;
  margin-bottom: 15px;
  padding: 5px 50px;
  color: #000;
}

.contact-form a span {
  position: absolute;
  right: 10px;
  font-size: 15px;
}

.footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #464F3B;
  color: #fff;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 20px;
}

@media (max-width: 559px) {
  .footer ul {
    flex-direction: column;
    width: auto;
    margin: 0 auto;
  }
}

.footer ul li {
  flex: 1;
  margin-right: 50px;
}

@media (max-width: 559px) {
  .footer ul li {
    margin-right: 0;
  }
}

.footer ul li a {
  color: #fff;
}

.footer ul li a:hover {
  color: orange;
}

h2 {
  font-size: 24px;
}

h2 span {
  font-size: 12px;
  position: relative;
  bottom: 15px;
}

.menu-top-bg {
  background-image: url(../../image/menu_top_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 200px 0;
}

.menu-top-title {
  text-align: center;
  padding: 100px 0;
}

.menu-top-title h1 {
  font-size: 32px;
  margin-bottom: 50px;
}

.menu-top-title span {
  display: block;
  font-family: 'Monsieur La Doulaise', cursive;
}

.menu-top-title p {
  display: inline-block;
  font-size: 24px;
  border: 1px solid #000;
  padding: 5px 50px;
}

@media (max-width: 559px) {
  .menu-top-title p {
    font-size: 12px;
  }
}

.menu-block {
  width: auto;
}

.menu-block-one {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 959px) {
  .menu-block-one {
    flex-direction: column;
    margin-bottom: 70px;
  }
}

.menu-block-one img {
  width: 40%;
  margin-right: 50px;
  margin-bottom: 40px;
}

@media (max-width: 959px) {
  .menu-block-one img {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 559px) {
  .menu-block-one img {
    width: 100%;
  }
}

.menu-block-right h2 {
  border-bottom: 1px solid #000;
  margin-bottom: 3px;
}

.menu-block-right i {
  margin-right: 12px;
  font-size: 20px;
}

.menu-block-right-wrap {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin-bottom: 15px;
  text-align: center;
  padding: 10px 0;
}

.menu-block-two {
  margin-top: 30px;
  text-align: center;
}

.menu-block-two a {
  display: inline-block;
  padding: 10px 50px;
  color: #000;
  border: 1px solid #000;
  margin-top: 50px;
  margin-bottom: 50px;
}

.voice-top-bg {
  background-image: url(../../image/voice_bg.jpg);
}

.voice-top-title {
  text-align: center;
  padding: 100px 0 0;
}

.voice-top-title h1 {
  font-size: 32px;
  margin-bottom: 70px;
}

.voice-top-title span {
  display: block;
  font-family: 'Monsieur La Doulaise', cursive;
}

.voice-image {
  margin-bottom: 80px;
  text-align: center;
}

.voice-image h2 {
  margin-bottom: 30px;
}

@media (max-width: 959px) {
  .voice-image-movie {
    display: none;
  }
}

.voice-sample {
  padding-bottom: 100px;
}

.voice-sample-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 959px) {
  .voice-sample-wrap {
    flex-direction: column;
  }
}

.voice-sample-wrap-picture {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media (max-width: 959px) {
  .voice-sample-wrap-picture {
    justify-content: center;
  }
}

@media (max-width: 559px) {
  .voice-sample-wrap-picture {
    flex-direction: column;
  }
}

.voice-sample-wrap-picture-before {
  margin-right: 2px;
}

.voice-sample-wrap-picture-after {
  margin-right: 60px;
}

@media (max-width: 959px) {
  .voice-sample-wrap-picture-after {
    margin-right: 0;
  }
}

.voice-sample-wrap-name h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.voice-sample-wrap-name h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 959px) {
  .voice-sample-wrap-name {
    width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 559px) {
  .voice-sample-wrap-name {
    width: auto;
    padding: 0 50px;
  }
}

.qa-top-bg {
  background: url(../../image/qa_top.jpg);
  background-position: center right;
}

.qa-top-title {
  text-align: center;
  padding: 100px 0 0;
}

.qa-top-title h1 {
  font-size: 32px;
  margin-bottom: 70px;
}

.qa-top-title span {
  display: block;
  font-family: 'Monsieur La Doulaise', cursive;
}

.qa-main-wrap {
  border: 1px solid #F2F2F2;
  box-shadow: 5px 5px #e2e2e2;
  background: #F2F2F2;
  margin-bottom: 50px;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.qa-main-wrap i {
  display: inline-block;
  width: 80px;
  position: relative;
  top: 40px;
  left: 25px;
}

.qa-main-wrap-text span {
  font-size: 20px;
  bottom: 0;
  margin-right: 15px;
  color: #00f;
}

.qa-main-wrap-a {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.qa-main-wrap-a span {
  color: #f00;
}

.contact-top {
  margin-bottom: 100px;
}

.contact-top-bg {
  background: url(../../image/contact_top.jpg);
  background-position: center right;
}

@media (max-width: 559px) {
  .contact-top-bg {
    background-position: center center;
  }
}

.contact-top-wrap {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 559px) {
  .contact-top-wrap {
    flex-direction: column;
  }
}

.contact-top-wrap-access, .contact-top-wrap-open {
  text-align: center;
  padding: 100px 0 0;
}

.contact-top-wrap-access h2, .contact-top-wrap-open h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-top-wrap-access span, .contact-top-wrap-open span {
  display: block;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 20px;
  bottom: 0;
  margin-top: 10px;
}

.contact-top-wrap-open-p {
  padding: 10px;
  border: 1px solid #000;
  margin-top: 10px;
}

.contact-progress {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #F2F2F2;
}

.contact-progress-text {
  text-align: center;
}

.contact-progress-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-progress-text span {
  display: block;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 20px;
  bottom: 0;
  margin-top: 10px;
}

.contact-progress-wrap {
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 959px) {
  .contact-progress-wrap {
    justify-content: center;
  }
}

.contact-progress-box {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

@media (max-width: 959px) {
  .contact-progress-box {
    margin-bottom: 30px;
  }
}

@media (max-width: 559px) {
  .contact-progress-box {
    margin-right: 0;
  }
}

.contact-progress-box i {
  position: relative;
  top: 100px;
  margin-left: 10px;
  font-size: 40px;
}

@media (max-width: 559px) {
  .contact-progress-box i {
    display: none;
    margin-left: 0;
  }
}

.contact-progress-box-wrap {
  width: 220px;
}

.contact-progress-box-wrap p.center {
  text-align: center;
  margin: 15px 0;
}

.contact-progress-box-wrap:last-child {
  margin-right: 25px;
}

.contact-progress-box a {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  color: #000;
  border: 1px solid #000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-progress-box a span {
  position: relative;
  left: 30px;
}

.contact-progress-box-image1 {
  padding: 110px;
  background: url(../../image/contact1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.contact-progress-box-image2 {
  padding: 110px;
  background: url(../../image/contact2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.contact-progress-box-image3 {
  padding: 110px;
  background: url(../../image/contact3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.contact-progress-box-image4 {
  padding: 110px;
  background: url(../../image/contact4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.contact-progress-box-image5 {
  padding: 110px;
  background: url(../../image/contact5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.contact-progress-box-image6 {
  padding: 110px;
  background: url(../../image/contact6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.contact-progress-box-image7 {
  padding: 110px;
  background: url(../../image/contact7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.contact-access-text {
  text-align: center;
  margin-bottom: 50px;
}

.contact-access-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-access-text span {
  display: block;
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 20px;
  bottom: 0;
  margin-top: 10px;
}

.contact-access-text p:last-child {
  margin-top: 20px;
}

.contact-access-form p {
  font-size: 20px;
}

.contact-access-form span {
  font-size: 16px;
  display: inline-block;
  margin-left: 15px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  padding: 2px 15px;
}

.contact-access-form-wrap {
  margin-bottom: 50px;
}

.contact-access-form-wrap p {
  margin-bottom: 15px;
}

.contact-access-form-wrap input {
  padding: 10px 0;
  width: 100%;
}

.contact-access-form-wrap textarea {
  width: 100%;
  padding: 100px 0;
}

.contact-access-form-flex {
  display: flex;
}

.contact-access-form-flex p {
  width: 200px;
}

.contact-access-form-flex input {
  display: inline-block;
  margin-right: 10px;
}

a {
  transition: all 0.2s;
}

a:hover {
  color: orange;
}

@media (max-width: 559px) {
  .no-sp {
    display: none;
  }
  .no-pc {
    display: block;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .container2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 959px) {
  .no-pc {
    display: block;
  }
}
